<div class="row"><a href="#frames">Back to Inspection Images</a></div>
<div class="row framedetailrow">
        <div id="frame" class="span8">
                <div id="display">
                        <div id="display-zoom">
                                <img id="display-img" src="{{imgfile}}">
                                <canvas id="displaycanvas"></canvas>
                        </div>
                </div>
                <p class="frame_icons">
                        <a href="{{imgfile}}?download=True"><i class="icon-download"></i> Download</a>
                </p>
        </div>
        <div id="properties" class="span3 frameData">
                <table border="1" cellpadding="7">
                        <thead>

                        </thead>
                        <tbody>
                                <tr>
                                        <td>Camera</td>
                                        <td><b>{{camera}}</b></td>
                                </tr>
                                <tr>
                                        <td>Capture Time</td>
                                        <td>{{epochtime capturetime}}</td>
                                </tr>
                                <tr>
                                        <td>Capture Date</td>
                                        <td>{{epochdate capturetime}}</td>
                                </tr>
                                <tr>
                                        <td>Width</td>
                                        <td>{{width}} <span>pixels</span></td>
                                </tr>
                                <tr>
                                        <td>Height</td>
                                        <td>{{height}} <span>pixels</span></td>
                                </tr>
                        </tbody>
                        <tbody id="metadata">
                        {{#key_value metadata}}
                                <tr>
                                        <td><input class="metaDataEdit" type="text" {{#if ../disabled}}disabled="disabled"{{/if}} value="{{key}}"></td>
                                        <td><input class="metaDataEdit" type="text" {{#if ../disabled}}disabled="disabled"{{/if}} value="{{value}}"></td>
                                </tr>
                        {{/key_value}}
                        </tbody>
                        <tbody id="notes">
                                <tr>
                                        <td colspan=2>
                                                <label for="notes">Notes:</label>
                                                <textarea name="notes" id="notesEdit" class="notesEdit" {{#if disabled}}disabled="disabled"{{/if}}>{{notes}}</textarea>
                                        </td>
                                </tr>
                        </tbody>
                        
                </table>
        </div>
</div>

<div class="row" style="margin-bottom: 30px;">
  <div id="features" class="span12 frameData">
    {{#each featuretypes}}
       
        <h3>{{#if this.[0].icon}}<img class="featureicon" src="{{this.[0].icon}}">{{/if}}{{this.[0].name}} Detections</h3>
      <div class="set">{{featuredetail this}}</div>
    {{/each}}
  </div>
</div>


