<div id="mainSpacer">
  <div id="config">
    <div id="icon-menu">
      <div class="icon-item">
      </div>
    </div>
    <!--second tier menu panel -->
    <div id="second-tier-menu">
      <div class="second-tier-item">
        <div id="second-tier-header">
          <span class="title">Control Panel</span>
          <img id="minimize-control-panel" src="img/arrows-minimize.png" />
        </div>
      </div>
      <div id="filter_form"></div>
        <div id="second-tier-footer">
          <p style="clear:both;">Viewing <span id="count_viewing">{{count_viewing}}</span> of <span id="count_total">{{count_total}}</span> records</p>
        </div>
    </div>
  </div>

  <div id="stage">
  
       <!--MAIN TABS -->
      <div id="views">
        <div id="views-tabs">
          <div id="image-tab">Image View</div>
          <div id="data-tab" class="unselected">Data View</div>
        </div>
        <div id="views-contain">
          <div id="views-controls">
            <div id="control-images">
              <img id="list-view" src="img/icon-list-view.png"> <!-- <img id="grid-view" class="list-unselected" src="img/icon-grid-view.png"> -->
            </div>
            <div id="control-copy">
              <span>Order by:</span>
              <select id="sortCombo">
              {{#each sortComboVals}}
                <option value="{{this.type}},{{this.name}},1">{{this.label}} ascending</option>
                <option value="{{this.type}},{{this.name}},-1" {{#if_eq "capturetime" compare=this.name}}selected="selected"{{/if_eq}}>{{this.label}} descending</option>
              {{/each}}
              </select>
            </div>
          </div>
          <div id="image-view">
            <div id="frame_holder"></div>
          </div><!--END GRID IMAGE VIEW -->
          <!-- DATA VIEW -->                
          


            <!-- DATA VIEW -->
            <div id="data-views-contain">
              <div id="data-view">
                <!--
                <div id="data-views-controls">
                  <div id="data-control-images">
                    <img src="img/icon-calendar.png">
                  </div>
                  <div id="data-control-copy">
                    <span class="data-date">List:

                    <select class="style-select-listview">
                      <option>Date Descending</option>
                      <option></option>
                      <option></option>
                    </select>
                    </span>
                    <span class="selection-tog"><a href="#">Select All / </a><a href="#"><span class="copy-off">None</span></a></span> <span class="selection-tog"><a href="#">Edit</a> / <a href="#"><span class="copy-off">Edit All</span></a></span>

                    <img id="icon-printer" src="img/icon-printer.png" />

                  </div>
                </div>-->
                <div class="data-view-item" id="tabDataTable">
                </div> <!-- END DATA VIEW ITEM -->
            </div><!-- END DATA VIEW ITEM -->
      </div>
  </div>
</div>

<div id="viewStageContainer">
  <div id="viewStage">
    <img id="displayimage" src="">
    <canvas id="displaycanvas"></canvas>
    <div class="close">Close [&times;]</div>
    <div class="clearfix"></div>
  </div>
</div>  


<div id="loading_message" class="alert alert-info span11">
  Loading <span id="next_page_size">20</span> more frames...
</div>
</div>
