<div class="framedetailrow">
        <div id="sidebar" class="">
          <div class="backLink"><a href="#frames">&laquo; Inspection Images</a></div>
          <div id="zoomer"></div>
          <div id="toggleBox" class="ivi-right">
            <label><input id="toggleProcessing" type="checkbox" checked="checked">Show Markup</label>
          </div>
          <div id="properties" class="ivi-right">
            <table>
              <tr>
                <td class="item-detail">Capture Time:</td>
                <td class="item-detail-value">{{capturetime}}</td>
              </tr>                 
            </table>

            <div class="tableSpacer">
              <table>
                {{#featurelist features}}{{/featurelist}}          
              </table>
            </div>

            <div class="tableSpacer">
              <table class="editableMeta">
                  {{#each metadata}}
                <tr>
                  <td class="item-detail"><span>{{this.key}}</span>:
                  <span class="clickEdit"><input type="text" value="{{this.val}}"></span></td>
                </tr>
                  {{/each}}
              </table>
            </div>
            <div class="item-detail tableSpacer">Notes:</div>
            <textarea class="notes-field">{{notes}}</textarea>  
          </div>
       </div>
        <div id="frameHolder">
          <div id="" class="">
                  <div id="display">
                          <div id="display-zoom">
                                  <img id="display-img" src="{{imgfile}}">
                                  <canvas id="displaycanvas"></canvas>
                          </div>
                  </div>
          </div>
        </div>         
</div>


