<div id="image-view">
  <div class="image-view-item">
    <div class="ivi-left">
      <div class="ivi-left-thumb-contain">
        <div class="thumb">
          <div class="blackBar">
            <img src="{{thumbnail_file}}">
          </div>
        </div>
        <a href="{{imgfile}}?download=True"><div class="download">Download</div></a>
        <a href="#frame/{{id}}"><div class="view">View</div></a>
      </div>
    </div>
    <div class="ivi-right">
      <table>
          {{#key_value metadata}}
        <tr>
          <td class="item-detail">{{key}}</td>
          <td class="item-detail-value">{{value}}</td>
        </tr>
          {{/key_value}}
      </table>

    </div>

  </div>
</div><!-- END IMAGE VIEW ITEM -->
