<div id="image-view">
  <div class="image-view-item">
    <div class="ivi-right">
      <div class="tableSpacerListView">
        <p class="item-detail">Capture Time:</p>
        <p class="item-detail-value">{{capturetime}}</p>
      </div>
      <div class="tableSpacer tableSpacerListView">
        {{#featurelist features}}{{/featurelist}}          
      </div>

      <div class="tableSpacer">
        <table class="editableMeta">
            {{#each metadata}}
          <tr>
            <td class="item-detail"><span>{{this.key}}</span>:</td>
            <td class="item-detail-value clickEdit"><input type="text" value="{{this.val}}"></td>
          </tr>
            {{/each}}
        </table>
      </div>
      <div class="item-detail tableSpacer">Notes:</div>
      <textarea class="notes-field">{{notes}}</textarea>
      <div class="tableSpacer">
        <button class="btn savebtn">Save</button>
      </div>
    </div>
    <div class="ivi-left">
      <div class="ivi-left-thumb-contain">
        <div class="thumb">
          <div class="blackBar">
            <a href="#frame/{{id}}"><img src="{{thumbnail_file}}"></a>
          </div>
        </div>
        <div class="zoomer"></div>
        <div class="btnGp">
          <div class="download"><a href="{{imgfile}}?download=True">Download</a></div>
          <div class="view action-viewFrame">View</div>
          <div class="fullscreen"><a href="#frame/{{id}}">Fullscreen</a></div>
        </div>
      </div>
    </div>
  </div>
</div><!-- END IMAGE VIEW ITEM -->
