<hr>
<div class="row">
  <div class="span2">
    <a href="#frame/{{id}}"><img src="{{thumbnail_file}}" class="thumbnail" height="105"></a>
    <p class="frame_icons">
      <a href="#frame/{{id}}"><i class="icon-info-sign"></i> Details</a>
      <a href="{{imgfile}}?download=True"><i class="icon-download"></i> Download</a>
    </p>
      <!-- <span class="label label-success">Pass</span> -->
  </div>
  <div class="span7">
    <ul class="information">
        <li><b>Camera</b>: {{camera}}</li>
        <li><b>Time</b>: {{capturetime}}</li>
        {{#if features}}
        <li><b>Features</b>:<ul class="features">{{featuresummary features}}</ul></li>
        {{/if}}
    </ul>
  </div>
</div>
