<h2>Image from {{camera}} at {{epoch capturetime}}
<div id="frame" class="span11">
  <img src="{{imgfile}}">
  <p class="frame_icons">
    <a href="{{imgfile}}?download=True"><i class="icon-download"></i> Download</a>
  </p>
</div>
{{#if featuretypes}}
<div id="features" class="span11">
  {{#each featuretypes}}
    {{featuredetail this}}
  {{/each}}
</div>
{{/if}}
