<div id="image-view">
  <div class="image-view-item">
    <div class="ivi-left">
      <div class="ivi-left-thumb-contain">
        <div class="thumb">
          <div class="blackBar">
            <img src="{{thumbnail_file}}">
          </div>
        </div>
        <a href="{{imgfile}}?download=True"><div class="download">Download</div></a>
        <a href="#frame/{{id}}"><div class="view">View</div></a>
      </div>
    </div>
    <div class="ivi-right">
      <table>
          {{#featurelist features}}
        <tr>
          <td class="item-detail">{{key}}</td>
          <td class="item-detail-value">{{value}}</td>
        </tr>
          {{/featurelist}}          

        <tr>
          <td class="item-detail">Capture Time:</td>
          <td class="item-detail-value">{{capturetime}}</td>
        </tr>

        <tr>
          <td class="item-detail">Width:</td>
          <td class="item-detail-value">{{width}} <span>pixels</span></td>
        </tr>

        <tr>
          <td class="item-detail">Height:</td>
          <td class="item-detail-value">{{height}} <span>pixels</span></td>
        </tr>                     
      </table>

      <div class="tableSpacer">
        <table class="editableMeta">
            {{#key_value metadata}}
          <tr>
            <td class="item-detail clickEdit">{{key}}</td>
            <td class="item-detail-value clickEdit">{{value}}</td>
          </tr>
            {{/key_value}}
          <tr>
            <td class="item-detail clickEdit"><input type="text"></td>
            <td class="item-detail-value clickEdit"><input type="text"></td>
          </tr>            
        </table>
      </div>

      <textarea class="notes-field">{{notes}}</textarea>  
    </div>

  </div>
</div><!-- END IMAGE VIEW ITEM -->
