<h4>{{label}}</h4>
<label for="{{name}}_af"></label>
<select id="{{name}}_af">
    <option value="_">All</option>
    {{#each constraints.enum}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>
